@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	background-color: #555;
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.container {
	background-color: #333;
	padding: 1em 3em;
	box-shadow: 0 0 1em 0 #000;
	border-radius: 1em;
}

a:visited {
	color: #aaa;
}

img {
	border-radius: 1em;
}
